<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
<dict><key>Rank</key><integer>1</integer><key>Player</key><string>Peyton Manning</string><key>Team</key><string>DEN</string><key>Conference</key><string>AFC</string><key>Completions</key><integer>117</integer><key>Attempts</key><integer>156</integer><key>Yards</key><integer>1470</integer><key>Touchdowns</key><integer>16</integer><key>Interceptions</key><integer>0</integer><key>Sacks</key><integer>5</integer><key>Rating</key><real>138</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/M/A/N/MAN515097.jpg</string></dict>
<dict><key>Rank</key><integer>2</integer><key>Player</key><string>Drew Brees</string><key>Team</key><string>NO</string><key>Conference</key><string>NFC</string><key>Completions</key><integer>111</integer><key>Attempts</key><integer>166</integer><key>Yards</key><integer>1434</integer><key>Touchdowns</key><integer>10</integer><key>Interceptions</key><integer>4</integer><key>Sacks</key><integer>12</integer><key>Rating</key><real>103.8</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/B/R/E/BRE229498.jpg</string></dict>
<dict><key>Rank</key><integer>3</integer><key>Player</key><string>Matt Ryan</string><key>Team</key><string>ATL</string><key>Conference</key><string>NFC</string><key>Completions</key><integer>115</integer><key>Attempts</key><integer>173</integer><key>Yards</key><integer>1330</integer><key>Touchdowns</key><integer>8</integer><key>Interceptions</key><integer>3</integer><key>Sacks</key><integer>7</integer><key>Rating</key><real>97.7</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/R/Y/A/RYA238179.jpg</string></dict>
<dict><key>Rank</key><integer>4</integer><key>Player</key><string>Matthew Stafford</string><key>Team</key><string>DET</string><key>Conference</key><string>NFC</string><key>Completions</key><integer>100</integer><key>Attempts</key><integer>156</integer><key>Yards</key><integer>1262</integer><key>Touchdowns</key><integer>7</integer><key>Interceptions</key><integer>3</integer><key>Sacks</key><integer>3</integer><key>Rating</key><real>96.2</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/S/T/A/STA134157.jpg</string></dict>
<dict><key>Rank</key><integer>5</integer><key>Player</key><string>Ben Roethlisberger</string><key>Team</key><string>PIT</string><key>Conference</key><string>AFC</string><key>Completions</key><integer>103</integer><key>Attempts</key><integer>162</integer><key>Yards</key><integer>1231</integer><key>Touchdowns</key><integer>5</integer><key>Interceptions</key><integer>5</integer><key>Sacks</key><integer>15</integer><key>Rating</key><real>84.2</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/R/O/E/ROE750381.jpg</string></dict>
<dict><key>Rank</key><integer>6</integer><key>Player</key><string>Robert Griffin III</string><key>Team</key><string>WAS</string><key>Conference</key><string>NFC</string><key>Completions</key><integer>106</integer><key>Attempts</key><integer>170</integer><key>Yards</key><integer>1202</integer><key>Touchdowns</key><integer>6</integer><key>Interceptions</key><integer>4</integer><key>Sacks</key><integer>7</integer><key>Rating</key><real>85.5</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/G/R/I/GRI283140.jpg</string></dict>
<dict><key>Rank</key><integer>7</integer><key>Player</key><string>Philip Rivers</string><key>Team</key><string>SD</string><key>Conference</key><string>AFC</string><key>Completions</key><integer>105</integer><key>Attempts</key><integer>142</integer><key>Yards</key><integer>1199</integer><key>Touchdowns</key><integer>11</integer><key>Interceptions</key><integer>2</integer><key>Sacks</key><integer>6</integer><key>Rating</key><real>118.8</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/R/I/V/RIV651634.jpg</string></dict>
<dict><key>Rank</key><integer>8</integer><key>Player</key><string>Matt Schaub</string><key>Team</key><string>HOU</string><key>Conference</key><string>AFC</string><key>Completions</key><integer>116</integer><key>Attempts</key><integer>177</integer><key>Yards</key><integer>1193</integer><key>Touchdowns</key><integer>8</integer><key>Interceptions</key><integer>6</integer><key>Sacks</key><integer>11</integer><key>Rating</key><real>85.7</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/S/C/H/SCH085186.jpg</string></dict>
<dict><key>Rank</key><integer>9</integer><key>Player</key><string>Eli Manning</string><key>Team</key><string>NYG</string><key>Conference</key><string>NFC</string><key>Completions</key><integer>85</integer><key>Attempts</key><integer>151</integer><key>Yards</key><integer>1148</integer><key>Touchdowns</key><integer>6</integer><key>Interceptions</key><integer>9</integer><key>Sacks</key><integer>14</integer><key>Rating</key><real>69.1</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/M/A/N/MAN473170.jpg</string></dict>
<dict><key>Rank</key><integer>10</integer><key>Player</key><string>Sam Bradford</string><key>Team</key><string>STL</string><key>Conference</key><string>NFC</string><key>Completions</key><integer>107</integer><key>Attempts</key><integer>182</integer><key>Yards</key><integer>1093</integer><key>Touchdowns</key><integer>7</integer><key>Interceptions</key><integer>3</integer><key>Sacks</key><integer>11</integer><key>Rating</key><real>82.1</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/B/R/A/BRA101548.jpg</string></dict>
<dict><key>Rank</key><integer>11</integer><key>Player</key><string>Joe Flacco</string><key>Team</key><string>BAL</string><key>Conference</key><string>AFC</string><key>Completions</key><integer>97</integer><key>Attempts</key><integer>169</integer><key>Yards</key><integer>1091</integer><key>Touchdowns</key><integer>5</integer><key>Interceptions</key><integer>7</integer><key>Sacks</key><integer>12</integer><key>Rating</key><real>69.4</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/F/L/A/FLA009602.jpg</string></dict>
<dict><key>Rank</key><integer>12</integer><key>Player</key><string>Geno Smith</string><key>Team</key><string>NYJ</string><key>Conference</key><string>AFC</string><key>Completions</key><integer>78</integer><key>Attempts</key><integer>136</integer><key>Yards</key><integer>1090</integer><key>Touchdowns</key><integer>4</integer><key>Interceptions</key><integer>8</integer><key>Sacks</key><integer>14</integer><key>Rating</key><real>68.6</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/S/M/I/SMI269700.jpg</string></dict>
<dict><key>Rank</key><integer>13</integer><key>Player</key><string>Michael Vick</string><key>Team</key><string>PHI</string><key>Conference</key><string>AFC</string><key>Completions</key><integer>65</integer><key>Attempts</key><integer>118</integer><key>Yards</key><integer>1080</integer><key>Touchdowns</key><integer>5</integer><key>Interceptions</key><integer>2</integer><key>Sacks</key><integer>14</integer><key>Rating</key><real>93.2</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/V/I/C/VIC311467.jpg</string></dict>
<dict><key>Rank</key><integer>14</integer><key>Player</key><string>Ryan Tannehill</string><key>Team</key><string>MIA</string><key>Conference</key><string>AFC</string><key>Completions</key><integer>93</integer><key>Attempts</key><integer>142</integer><key>Yards</key><integer>1076</integer><key>Touchdowns</key><integer>5</integer><key>Interceptions</key><integer>5</integer><key>Sacks</key><integer>18</integer><key>Rating</key><real>85.3</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/T/A/N/TAN298716.jpg</string></dict>
<dict><key>Rank</key><integer>15</integer><key>Player</key><string>Aaron Rodgers</string><key>Team</key><string>GB</string><key>Conference</key><string>NFC</string><key>Completions</key><integer>81</integer><key>Attempts</key><integer>122</integer><key>Yards</key><integer>1057</integer><key>Touchdowns</key><integer>8</integer><key>Interceptions</key><integer>3</integer><key>Sacks</key><integer>10</integer><key>Rating</key><real>105.1</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/R/O/D/ROD339293.jpg</string></dict>
<dict><key>Rank</key><integer>16</integer><key>Player</key><string>Tony Romo</string><key>Team</key><string>DAL</string><key>Conference</key><string>NFC</string><key>Completions</key><integer>110</integer><key>Attempts</key><integer>152</integer><key>Yards</key><integer>1017</integer><key>Touchdowns</key><integer>8</integer><key>Interceptions</key><integer>1</integer><key>Sacks</key><integer>9</integer><key>Rating</key><real>105.1</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/R/O/M/ROM787981.jpg</string></dict>
<dict><key>Rank</key><integer>17</integer><key>Player</key><string>Tom Brady</string><key>Team</key><string>NE</string><key>Conference</key><string>AFC</string><key>Completions</key><integer>93</integer><key>Attempts</key><integer>158</integer><key>Yards</key><integer>1014</integer><key>Touchdowns</key><integer>7</integer><key>Interceptions</key><integer>2</integer><key>Sacks</key><integer>7</integer><key>Rating</key><real>87.4</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/B/R/A/BRA371156.jpg</string></dict>
<dict><key>Rank</key><integer>18</integer><key>Player</key><string>Jay Cutler</string><key>Team</key><string>CHI</string><key>Conference</key><string>NFC</string><key>Completions</key><integer>95</integer><key>Attempts</key><integer>148</integer><key>Yards</key><integer>1010</integer><key>Touchdowns</key><integer>8</integer><key>Interceptions</key><integer>6</integer><key>Sacks</key><integer>6</integer><key>Rating</key><real>85.1</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/C/U/T/CUT288111.jpg</string></dict>
<dict><key>Rank</key><integer>18</integer><key>Player</key><string>Carson Palmer</string><key>Team</key><string>ARI</string><key>Conference</key><string>NFC</string><key>Completions</key><integer>87</integer><key>Attempts</key><integer>152</integer><key>Yards</key><integer>1010</integer><key>Touchdowns</key><integer>4</integer><key>Interceptions</key><integer>6</integer><key>Sacks</key><integer>10</integer><key>Rating</key><real>69.8</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/P/A/L/PAL249055.jpg</string></dict>
<dict><key>Rank</key><integer>20</integer><key>Player</key><string>Andy Dalton</string><key>Team</key><string>CIN</string><key>Conference</key><string>AFC</string><key>Completions</key><integer>94</integer><key>Attempts</key><integer>148</integer><key>Yards</key><integer>1003</integer><key>Touchdowns</key><integer>5</integer><key>Interceptions</key><integer>4</integer><key>Sacks</key><integer>7</integer><key>Rating</key><real>83.2</real><key>Photo</key><string>http://static.nfl.com/static/content/public/static/img/getty/headshot/D/A/L/DAL659900.jpg</string></dict>
  </array>
</plist>
