<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Red</key>
	<dict>
		<key>color</key>
		<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwXVSRudWxs1g0ODxAREhMUFBUWFVYkY2xhc3NWVUlCbHVlV1VJR3JlZW5VVUlSZWRfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlBbHBoYYACIgAAAAAiP4AAABAE0hgZGhtYJGNsYXNzZXNaJGNsYXNzbmFtZaIbHFdVSUNvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWpxeICGnqaorbK0ucLN0NgAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA4Q==</data>
	</dict>
	<key>Green</key>
	<dict>
		<key>color</key>
		<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwXVSRudWxs1g0ODxAREhMUFRQWFVYkY2xhc3NWVUlCbHVlV1VJR3JlZW5VVUlSZWRfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlBbHBoYYACIgAAAAAiP4AAABAE0hgZGhtYJGNsYXNzZXNaJGNsYXNzbmFtZaIbHFdVSUNvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWpxeICGnqaorbK0ucLN0NgAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA4Q==</data>
	</dict>
	<key>Blue</key>
	<dict>
		<key>color</key>
		<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwXVSRudWxs1g0ODxAREhMUFRUWFFYkY2xhc3NWVUlCbHVlV1VJR3JlZW5VVUlSZWRfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlBbHBoYYACIj+AAAAiAAAAABAE0hgZGhtYJGNsYXNzZXNaJGNsYXNzbmFtZaIbHFdVSUNvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWpxeICGnqaorbK0ucLN0NgAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA4Q==</data>
	</dict>
	<key>Yellow</key>
	<dict>
		<key>color</key>
		<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwXVSRudWxs1g0ODxAREhMUFRUWFVYkY2xhc3NWVUlCbHVlV1VJR3JlZW5VVUlSZWRfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlBbHBoYYACIgAAAAAiP4AAABAE0hgZGhtYJGNsYXNzZXNaJGNsYXNzbmFtZaIbHFdVSUNvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWpxeICGnqaorbK0ucLN0NgAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA4Q==</data>
	</dict>
	<key>Orange</key>
	<dict>
		<key>color</key>
		<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwYVSRudWxs1g0ODxAREhMUFRYXFlYkY2xhc3NWVUlCbHVlV1VJR3JlZW5VVUlSZWRfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlBbHBoYYACIgAAAAAiPwAAACI/gAAAEATSGRobHFgkY2xhc3Nlc1okY2xhc3NuYW1lohwdV1VJQ29sb3JYTlNPYmplY3QIERofKTI3Oj9BU1ddanF4gIaepqitsre5vsfS1d0AAAAAAAABAQAAAAAAAAAeAAAAAAAAAAAAAAAAAAAA5g==</data>
	</dict>
	<key>Brown</key>
	<dict>
		<key>color</key>
		<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwZVSRudWxs1g0ODxAREhMUFRYXGFYkY2xhc3NWVUlCbHVlV1VJR3JlZW5VVUlSZWRfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlBbHBoYYACIj5MzM0iPszMzSI/GZmaEAQiP4AAANIaGxwdWCRjbGFzc2VzWiRjbGFzc25hbWWiHR5XVUlDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11qcXiAhp6mqK2yt7m+w8zX2uIAAAAAAAABAQAAAAAAAAAfAAAAAAAAAAAAAAAAAAAA6w==</data>
	</dict>
	<key>Purple</key>
	<dict>
		<key>color</key>
		<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwYVSRudWxs1g0ODxAREhMUFRQWF1YkY2xhc3NWVUlCbHVlV1VJR3JlZW5VVUlSZWRfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlBbHBoYYACIj8AAAAiAAAAABAEIj+AAADSGRobHFgkY2xhc3Nlc1okY2xhc3NuYW1lohwdV1VJQ29sb3JYTlNPYmplY3QIERofKTI3Oj9BU1ddanF4gIaepqitsrS5vsfS1d0AAAAAAAABAQAAAAAAAAAeAAAAAAAAAAAAAAAAAAAA5g==</data>
	</dict>
	<key>Gray</key>
	<dict>
		<key>color</key>
		<data>YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwVVSRudWxs1A0ODxAREhMUViRjbGFzc18QFVVJQ29sb3JDb21wb25lbnRDb3VudFdVSUFscGhhV1VJV2hpdGWAAhACIj+AAAAiPwAAANIWFxgZWCRjbGFzc2VzWiRjbGFzc25hbWWiGRpXVUlDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11mbYWNlZeZnqOosby/xwAAAAAAAAEBAAAAAAAAABsAAAAAAAAAAAAAAAAAAADQ</data>
	</dict>
</dict>
</plist>
